<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Cardário - Tamura Culinária </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid >
    <ion-col>
      <ion-row class="container-img">
        <img src="../../assets/icon/favicon.png" alt="" />
      </ion-row>
      <ion-row class="container-card">
        <ion-card class="bg-red">
          <ion-img
            alt="Silhouette of mountains"
            src="../../assets/20210613_172853 (1).jpg"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Guiozas</ion-card-title>
            <ion-card-subtitle> Suíno R$ 22,00 </ion-card-subtitle>
            <ion-card-subtitle> Legumes R$ 16,00 </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Deleciosos guiozas com um recheio saboroso. Embalagens contendo 12
            unidades congeladas prontas para o preparo de sua preferência.
          </ion-card-content>
        </ion-card>
        <ion-card class="bg-yellow">
          <ion-img
            alt="Silhouette of mountains"
            src="../../assets/fresh-pasta-5154229_1280-960x540.jpg"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Talharin</ion-card-title>
            <ion-card-subtitle> R$ 13,00 </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Massa fresca em formato de talharin. Rendimento: 3 pessoas (300g)
          </ion-card-content>
        </ion-card>
        <ion-card class="bg-purple">
          <ion-img
            alt="Silhouette of mountains"
            src="../../assets/20210625_144248.jpg"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Talharin Colorido</ion-card-title>
            <ion-card-subtitle> R$ 16,00 </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Talharin colorido! Indorporamos beterraba, couve e abóbora na massa.
            As três cores são vendidas juntas. Rendimento: 3 pessoas (300g)
          </ion-card-content>
        </ion-card>
        <ion-card class="bg-yellow">
          <ion-img
            alt="Silhouette of mountains"
            src="../../assets/comprar-capeletti-02.jpg"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Capeletti</ion-card-title>
            <ion-card-subtitle> R$ 36,00 </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Delicioso Capelleti caseiro recheado com carne suina, frango e
            queijo parmesão. Idela para caldos e ensopados. Embalagem contém
            500g com um rendimento para 4 pessoas.
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
<div class="j-whatsapp-btn"><a href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=5514996058356" target="_blank"
  rel="noopener noreferrer" title="Converse com a gente">
  <div><svg data-name="Camada 1" xmlns="http://www.w3.org/3150/svg" viewBox="0 0 40 40">
          <defs>
              <linearGradient id="a" x1="20" y1="40" x2="20" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#25cf43"></stop>
                  <stop offset="1" stop-color="#61fd7d"></stop>
              </linearGradient>
          </defs>
          <path
              d="M40 29.85v1.06a24.37 24.37 0 01-.21 2.58 8.78 8.78 0 01-.79 2.17 7.6 7.6 0 01-1.43 2 7.93 7.93 0 01-2 1.42 8.59 8.59 0 01-2.18.72 19.79 19.79 0 01-2.56.21H10.15L9.09 40a24.37 24.37 0 01-2.58-.21A8.78 8.78 0 014.34 39a7.6 7.6 0 01-2-1.43 7.93 7.93 0 01-1.42-2 8.59 8.59 0 01-.72-2.18 19.79 19.79 0 01-.2-2.48V10.15 9.09a24.37 24.37 0 01.23-2.58A8.78 8.78 0 011 4.34a7.6 7.6 0 011.43-2A7.93 7.93 0 014.35 1 8.59 8.59 0 016.53.23 19.79 19.79 0 019.09 0H30.91a24.37 24.37 0 012.58.21 8.78 8.78 0 012.17.79 7.6 7.6 0 012 1.43 8.19 8.19 0 011.42 2 8.59 8.59 0 01.72 2.18 19.79 19.79 0 01.2 2.48v1.06z"
              fill="url(#a)" fill-rule="evenodd" data-name="Icon Shape"></path>
          <path
              d="M30.52 9.58A14.25 14.25 0 008.08 26.77l-2 7.39 7.55-2a14.33 14.33 0 006.82 1.73A14.26 14.26 0 0030.52 9.58zM20.43 31.51a11.91 11.91 0 01-6-1.66L14 29.6l-4.52 1.17 1.2-4.37-.29-.4a11.85 11.85 0 1110 5.56zm6.5-8.88c-.35-.18-2.1-1-2.43-1.16s-.56-.17-.8.18-.92 1.16-1.13 1.4-.42.27-.77.09a9.82 9.82 0 01-2.87-1.77 10.58 10.58 0 01-2-2.47c-.21-.35 0-.55.16-.72s.35-.42.53-.63A2.39 2.39 0 0018 17a.66.66 0 000-.63c-.09-.17-.8-1.93-1.1-2.64s-.58-.6-.8-.61h-.68a1.27 1.27 0 00-1 .44 4 4 0 00-1.25 3 6.93 6.93 0 001.45 3.69 16 16 0 006.09 5.37 18.58 18.58 0 002 .75 4.79 4.79 0 002.24.15 3.72 3.72 0 002.41-1.7 2.93 2.93 0 00.21-1.69c-.04-.23-.28-.32-.64-.5z"
              fill="#fff" fill-rule="evenodd" data-name="WA Logo"></path>
      </svg></div>
</a>
</div>
